{{#each this}}

<li class="card-item">
  <div class="card-img-div">
    <img class="card-img" loading="lazy" src={{images.7.url}} alt="#">
  </div>
  <div>
    <h2 class="card-name">{{name}}</h2>
    <p class="card-date">{{dates.start.localDate}}</p>
    <p class="card-place">
      <svg width="6px" height="9px">
        <use width="6px" height="9px" href="./images/sprite.svg#icon-map">
        </use>
      </svg>{{_embedded.venues.0.name}}
    </p>

  </div>
</li>
{{/each}}