* {
  margin: 0;
}

.message {
  font-size: 18px;
  color: $accent;

  @media screen and (min-width: 768px) {
    margin-left: 41px;
    font-size: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 56px;
    font-size: 50px;
  }
}

/*ul*/
.card-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

/*li*/
.card-item {
  position: relative;
  text-align: center;
  margin-bottom: 39px;
  margin-bottom: 30px;
  box-sizing: border-box;
  margin-right: 14px;
}
.card-item-box {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.05);
    &::before {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 15px #ff00de, 0 0 30px #ff00de, 0 0 20px #ff00de, 0 0 5px #ff00de;
    }
    & .card-name {
      color: black;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 15px #ff00de, 0 0 30px #ff00de, 0 0 20px #ff00de, 0 0 5px #ff00de;
    }
  }
}

@media screen and (max-width: 767px) {
  .card-item {
    width: calc((100% - 14px) / 2);
    margin-right: 14px;
    margin-bottom: 39px;
  }
  .card-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card-item {
    width: calc((100% - 27px * 2) / 3);
    margin-right: 27px;
    margin-bottom: 58px;
  }
  .card-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .card-item {
    width: calc((100% - 70px * 3) / 4);
    margin-right: 70px;
    margin-bottom: 63px;
  }
  .card-item:nth-child(4n) {
    margin-right: 0;
  }
}

.card-item-box::before {
  position: absolute;
  display: block;
  content: '';
  border-radius: 50px 0px;

  border: 1px solid rgba(220, 86, 197, 0.3);
  width: 109px;
  height: 101px;
  top: -9px;
  right: -10px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 153px;
    height: 143px;
    top: -13px;
    right: -14px;
  }
}

.card-img-div {
  cursor: pointer;
  display: inline-block;
  background-color: grey;

  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  object-fit: contain;
  transition: transform var(--animation-duration) var(--timing-function);

  width: 128px;
  height: 161px;

  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 180px;
    height: 227px;
  }
}

.card-img {
  height: 161px;
  width: auto;
  transform: translateX(-21%);
  max-width: max-content;
  @media screen and (min-width: 768px) {
    height: 227px;
  }
}
.card-name {
  font-family: Montserrat;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  color: #dc56c5;
  padding: 0px 8px;
  margin-top: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 15px;
    line-height: 1.214;
    padding: 0px 3px;
  }
}
.card-date {
  font-family: Montserrat;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  font-weight: 400;
  margin-top: 5px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.card-place {
  cursor: pointer;
  margin-top: 5px;
  font-family: Montserrat;
  font-style: 400;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.214;
  }
}

svg {
  fill: $accent;
  margin-right: 3px;
}

.card-item:hover,
.card-item:focus {
  & .add-btn {
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
    // -----custom cursor - planet -----
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),
      auto;
  }
}

.add-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 190px;
  right: 140px;
  width: 30px;
  height: 30px;
  padding: 0px 5px;

  font-size: 50px;
  font-weight: 500;

  transform: scale(0.1);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;

  color: $accent;
  background: transparent;
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover {
    font-size: 40px;
    color: $white;
    backdrop-filter: blur(50px);

    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 15px #ff00de, 0 0 30px #ff00de, 0 0 20px #ff00de, 0 0 5px #ff00de;
  }
  &.my-event {
    color: $modal-btn;
  }
}
