.footer-container {
  // padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}

.footer-text {
  width: 252px;
  font-size: 14px;
  line-height: 1.19px;
  color: $light-grey;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.footer-link {
  color: $light-grey;
}
