.form {
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 27px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 50px;
  }
}
.form-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 270px;

  @media screen and (min-width: 768px) {
    margin: 0;

    &:first-child {
      margin-right: 30px;
    }

    @media screen and (max-width: 1279px) {
      &:last-child {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    &:last-child {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}
.form-input {
  width: 270px;
  height: 40px;

  padding: 10px 0 10px 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: $light-grey;
  background-color: $input-bg;
  backdrop-filter: blur(20px);
  &::placeholder {
    color: $light-grey;
  }
}
.select {
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.icon-loop {
  position: absolute;
  top: 15px;
  left: 240px;
  pointer-events: none;
}

.icon-down {
  position: absolute;
  top: 40px;
  left: 240px;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 15px;
  }
}

.select-container {
  position: relative;
}
