.form {
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 27px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 50px;
  }
}

.form-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 270px;

  &:nth-last-of-type(-n + 2) {
    margin-top: 25px;
  }

  @media screen and (min-width: 768px) {
    margin: 0;

    &:nth-last-of-type(-n + 2) {
      margin-top: 0;
    }

    &:first-child {
      margin-right: 30px;
    }

    @media screen and (max-width: 1279px) {
      &:last-child {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    &:last-child {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.form-input {
  width: 270px;
  height: 40px;
  position: relative;

  padding: 10px 0 10px 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: $light-grey;
  background-color: $input-bg;
  backdrop-filter: blur(20px);
  outline: none;
  text-align: left;
  z-index: 80;

  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: $light-grey;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    fill: $white;
    color: $white;
    transform: scale(1.03);
    background-color: $button-hover-bg;
    box-shadow: 1px 1px 10px 2px $modal-btn;
    & + .icon-loop {
      transform: scale(1.2) translateX(30%);
      fill: $white;
    }
  }

  &:hover::-webkit-input-placeholder,
  &:focus::-webkit-input-placeholder {
    color: $white;
  }
}

// input:hover::-webkit-input-placeholder {
//   color: red;
// }

.icon-loop {
  position: absolute;
  fill: $light-grey;
  top: 15px;
  left: 240px;
  pointer-events: none;
  z-index: 81;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-down {
  position: absolute;
  fill: currentColor;
  top: 15px;
  left: 240px;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 15px;
  }
}

.menu-container {
  position: relative;
}

// Стили для меню формы

.dropdown-content {
  position: absolute;
  display: block;

  left: 18px;
  height: 1px;
  min-width: 232px;
  overflow: auto;
  margin-top: 2px;

  border-radius: 2px;
  border-bottom-left-radius: 30px;
  z-index: 1;
  background-color: $dropdown-menu-bg;

  transform: translateY(-5px);

  overflow-x: hidden;

  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item {
  display: block;
  padding: 18px 10px;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.2px;
  border: 1px solid transparent;
  color: #939393;

  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white;
    background-color: $button-hover-bg;
    backdrop-filter: blur(20px);
    transform: scale(1.03);
    outline: none;

    box-shadow: 0px 0px 25px -2px $accent;
  }
}

.category {
  overflow: hidden;
}

.show {
  display: block;
  // opacity: 1;
  height: 240px;
  z-index: 90;
  transform: translateY(0px);
}
