.is-hidden {
  display: none;
  pointer-events: none;
  z-index: 30;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $black;
  background-color: $backdrop;
  padding: 24px;
  z-index: 99;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    display: none;
    pointer-events: none;
    z-index: 30;
    & .modal {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.modal-wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  padding: 0;
  @media screen and (min-width: 1280px) {
    padding-left: 173px;
    padding-right: 173px;
    width: 1280px;
    margin: auto;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 95vh;
  min-width: 272px;
  width: 90%;
  overflow-y: scroll;
  overflow-x: visible;
  background-color: $modal-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px 0px;
  // margin-top: 115px;
  // margin-bottom: 35px;
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::-webkit-scrollbar {
    width: 0;
  }
  @media screen and (min-width: 1200px) {
    height: 95%;
    max-width: 1024px;
    border-radius: 31% 0;
    // margin-top: 120px;
    // margin-bottom: 55px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 99%;
    width: 90%;
    border-radius: 150px 0px;
    // margin-top: 140px;
    // margin-bottom: 45px;
  }
}

.modal-close {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $modal-bg;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 25px;
  border: 2px solid $accent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  fill: $modal-btn;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .close-modal-btn,
  &:focus .close-modal-btn {
    animation: animate180 250ms ease;
  }
  @keyframes animate180 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @media screen and (min-width: 1200px) {
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
  }
}

.close-modal-btn {
  width: 17px;
  height: 17px;
  @media screen and (min-width: 1200px) {
    width: 25px;
    height: 25px;
  }
}

.ticket-info-wrapper {
  padding: 195px 15px 100px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding: 160px 30px 62px;
    text-align: left;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 141px 17px 55px 17px;
    text-align: left;
  }
}

.ticket-info-container {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: left;
    align-items: flex-start;
  }
}

.event-badge {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 102px;
  height: 102px;
  align-items: center;

  @media screen and (min-width: 1200px) {
    top: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 28px;
  }
}

.ticket-badge {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.ticket-poster-wrapper {
  @media screen and (min-width: 1200px) {
    border-radius: 20% 0 0 0;
    height: 31em;
    width: 60%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 55%;
    height: 27em;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
  }
}

.ticket-poster {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    max-width: max-content;
    height: 100%;
    transform: translateX(-15%);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    max-width: max-content;
    height: 100%;
    transform: translateX(-25%);
  }
}

.ticket-info {
  @media screen and (min-width: 1200px) {
    max-width: 450px;
    margin-left: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 265px;
    margin-left: 30px;
  }
}

.ticket-info-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: $accent;
  margin-top: 10px;
  margin-bottom: 2px;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 2px;
  }
  @media screen and (min-width: 768px) {
    &:first-child {
      margin-top: 0;
    }
  }
}

.ticket-info-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  margin: 3px 0 0;
  color: $black;
  max-width: 243px;
  @media screen and (min-width: 1200px) {
    max-width: 450px;
    font-size: 18px;
    line-height: 1.22;
    margin: 5px 0 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 265px;
  }
}

#info {
  width: 100%;
}

.info {
  max-height: 65px;
  overflow-y: hidden;
  //   @media screen and (min-width: 1200px) {
  //     max-height: 65px;
  //   }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-height: 80px;
  }
}

#more,
#less {
  cursor: pointer;
  color: $accent;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.tckt-buy-button {
  display: inline-block;
  font-style: normal;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: $modal-btn;
  padding: 10px 19px;
  margin: 10px 0 17px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: $accent;
    color: $modal-btn;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    margin: 20px 0 26px;
  }
}

.more-information {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: $white;
  color: $modal-btn;
  border: 1px solid $modal-btn;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 3px;
  margin-top: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: $accent;
    transform: scale(1.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: animationOut 0.7s steps(22) forwards;
  }
  &:active,
  &:visited {
    background-color: $white;
    color: $modal-btn;
    border: 1px solid $modal-btn;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 710px;
    left: 200px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    top: 640px;
    left: 15%;
    border: 1px solid $accent;
  }
}
.more-info-list {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  &.is-hidden {
    display: none;
    pointer-events: none;
    z-index: 99;
  }
}

.more-info-itms {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: $accent;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 2px;
  }
}

.more-info-itm {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 15px;
  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
    margin-right: 25px;
  }
}

.author-links-list {
  margin-top: 15px;
  display: flex;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.more-info-link {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $modal-bg;
  border: 2px solid $accent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.more-info-icon {
  fill: $modal-btn;
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.more-err-link {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.25;
  text-decoration: none;
  margin-top: 20px;
}

.p-n-b {
  position: relative;
  top: 50%;
}

.prev-next-btn {
  font-size: 40px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  cursor: pointer;
  color: $accent;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 5px;
  &:hover,
  &:focus {
    // fill: $white;
    transform: scale(1.05);
    // box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
    //   0 0 15px #ff00de, 0 0 30px #ff00de, 0 0 20px #ff00de, 0 0 5px #ff00de;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    z-index: 119;
  }
  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 60px;
    &#p {
      top: 50%;
      left: -12%;
    }
    &#n {
      top: 50%;
      right: -12%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &#p {
      left: -2%;
    }
    &#n {
      right: -2%;
    }
  }
}
